.signup-wrapper{
    background-color: white;
    width: 70%;
    max-width: 500px;
    height: auto;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    padding: 1rem 2rem;
    /* border: 1px solid black; */
}

.title{
    color:var(--smoke_gray);
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

.p-login{
    text-align: center;
    margin: 0;
    font-weight: 400;
    font-size: 0.8rem;
}

.click{
    cursor: pointer;
    color: var(--card_in);
    text-decoration: underline;
    font-style: italic;
    font-weight: 700;
}